<!-- navbar.html -->
<header>
    <div class="nav-container">
        <div class="logo">WORKHIVE</div>
        <nav>
            <ul>
                <li>Home</li>
                <li>Jobs</li>
                <li>About Us</li>
                <li>Contact Us</li>
            </ul>
        </nav>
        <div class="auth-controls">
            <select>
                <option>English</option>
            </select>
            <button class="login" onclick="window.location.href='login'">Login</button>
            <button class="register">Register</button>
        </div>
    </div>
</header>